@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

html {
  font-size: 10px;
}

.wrapper {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #121212;
  background-color: #f6f6f6;
}

.container {
  max-width: 124rem;
  padding: 0 1.5rem;
  width: 100%;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.9rem;
}

.breadCrumbs {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.9rem;
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  cursor: pointer;
  color: #121212;
}

.member {
  list-style-type: none;
}

.member__link {
  text-decoration: none;
  cursor: pointer;
  color: #121212;
}

.memberDiv {
  margin-left: auto;
  text-decoration: none;
}

.nav__btn {
  background-color: #2B2730;
  border-radius: 10rem;
  font-size: 1.4rem;
  color: #f6f6f6;
  padding: 0.8rem 3rem;
  cursor: pointer;
}

@media screen and (max-width: 879px) {
  .header {
    padding-right: 15px;
  }
  header.container {
    width: 32.8rem;
  }
  .menu {
    display: none;
  }
  .member__link {
    display: none;
  }
  .breadCrumbs {
    display: block;
  }
  .nav__btn {
    display: none;
  }
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.logoAndSocials {
  width: 22rem;
}

.logo {
  padding: 5rem;
  float: left;
}

.logoContainer {
  width: 42rem;
}

.links__element {
  width: 15rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32rem;
}

.footer h6 {
  float: left;
}

.links {
  height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  float: left;
  gap: 2rem;
}

.footerAbout {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.footerMenu {
  margin-top: -2rem;
  margin-left: -4rem;
  list-style-type: none;
}

.footer__link {
  text-decoration: none;
  float: left;
  color: #2B2730;
  margin-right: 1rem;
}

@media screen and (max-width: 879px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .logo {
    padding: auto;
  }
  .socials-menu {
    display: none;
  }
}

.banner {
  padding-top: 17rem;
}

.bannerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__title {
  font-size: 7.2rem;
  line-height: 8rem;
  color: #2B2730;
  text-align: left;
}

.banner__title em {
  color: #FFB84C;
  font-style: normal;
}

@media screen and (max-width: 479px) {
  .banner {
    padding-top: 1rem;
  }
  .bannerBox {
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .banner__title {
    font-size: 3.2rem;
    line-height: 4rem;
    width: 100%;
  }
  .ellipse__img {
    margin-left: 6rem;
    width: 10.2rem;
    height: 10.2rem;
  }
  .ellipse__group {
    width: 30%;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.team {
  background: #2B2730;
}

.tablet {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -3rem;
}

.team__title {
  font-size: 6.4rem;
  color: #f6f6f6;
  font-weight: bold;
  letter-spacing: -0.25rem;
  text-align: initial;
}

.team__title em {
  color: #FFB84C;
  font-style: normal;
}

.team-card__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.9rem;
}

.numbers_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.9rem;
}

.numbers_element {
  width: 30rem;
}

.number {
  color: #FFB84C;
  text-align: center;
}

.numbers_text {
  font-size: 3.2rem;
  color: #f6f6f6;
}

.numbers_right {
  width: 29.5rem;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers_right a {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4rem;
  text-decoration: none;
  color: #f6f6f6;
}

.number {
  font-size: 6.4rem;
}

@media screen and (max-width: 884px) {
  .tablet {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -3rem;
  }
  .team__title {
    font-size: 3.2rem;
    color: #f6f6f6;
    font-weight: 500;
    line-height: 4rem;
  }
  .numbers_left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    gap: 1rem;
    margin-left: 5rem;
  }
  .numbers_right {
    margin: 0 auto;
  }
  .numbers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    gap: 1rem;
  }
  .numbers_text {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .number {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .numbers_right a {
    font-size: 1.6rem;
    line-height: 4rem;
  }
  .numbers_right img {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.benefits_group {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 2rem;
}

.become-creator {
  font-size: 5.6rem;
  font-weight: bold;
  line-height: 6.4rem;
  letter-spacing: -0.25rem;
}

.become-creator_text {
  font-weight: 400;
  font-size: 1.6rem;
}

.creator-features {
  gap: 5rem;
}

.firstRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.secondRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.creator-features__element {
  width: 28.6rem;
}

.creator-features__element p {
  font-weight: 400;
}

.features_text {
  font-size: 2.4rem;
  font-weight: bold;
}

@media screen and (max-width: 884px) {
  .become-creator_group {
    min-height: 40rem;
  }
  .creator-features {
    gap: 2rem;
  }
  .creator-features__element {
    margin-left: 5rem;
  }
}

.callToAction {
  height: 42rem;
  border-radius: 3.2rem;
  background-color: #2B2730;
}

.callToAction h2 {
  font-weight: bold;
  font-size: 5.6rem;
  color: #f6f6f6;
  line-height: 6.4rem;
  padding-top: 11.6rem;
}

.container {
  text-align: center;
}

.callToAction p {
  line-height: 2.4rem;
  color: #f6f6f6;
}

.sec__btn {
  background-color: #FFB84C;
  width: 14.5rem;
  height: 5.2rem;
  border-radius: 3.2rem;
  margin-bottom: 11.6rem;
}
/*# sourceMappingURL=style.css.map */