.banner {
    padding-top: 17rem;

  
}
.bannerBox {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.banner__title {
    font-size: 7.2rem;
    line-height: 8rem;
    color: $c-grey;
    text-align: left;

}
.banner__title em {
    color: $c-yellow;
    font-style: normal; 
}

@media screen and (max-width: 479px) {
    .banner {
        padding-top: 1rem;
    
      
    }
    .bannerBox {
        width: 80%;
        justify-content: space-around;
        
    }
    .title {
    }
    .banner__title {
        
        font-size: 3.2rem;
        line-height: 4rem;
        width: 100%;
    
    }
    .ellipse__img {
        margin-left: 6rem;
         width: 10.2rem;
        height: 10.2rem;
    }
    .ellipse__group {
    
        width: 30%;
        align-self: end;
       
    }
    
  }