
.benefits_group {
       padding-top: 5rem;
        display: flex;
        justify-content: space-around;
        align-items: center; 
        flex-flow: row wrap;
        gap:2rem;
    }



.become-creator {
    font-size: 5.6rem;
    font-weight: bold;
    line-height:6.4rem;
    letter-spacing: -0.25rem;
}
.become-creator_text {
    font-weight: 400;
    font-size: 1.6rem;
}

.creator-features {
    gap:5rem;
}
.firstRow{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-flow: row wrap;
}
.secondRow{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center; 
    margin-top: 5rem;
}
.creator-features__element {
    width: 28.6rem;
}

.creator-features__element {
    p{
        font-weight: 400;
    }
}
.features_text{
    font-size: 2.4rem;
    font-weight: bold;
}
.creator-features__img {
}
.callToAction {
}
.sec__btn {
}

@media screen and (max-width: 884px) {
    .become-creator_group{
        min-height: 40rem;
    
    }
    .creator-features {
        gap:2rem;
    }
    .creator-features__element {
        margin-left: 5rem;
    }

}