.team {
    background: $c-grey;
}
.tablet{
    width: 100%;
    align-items: center;
    margin-left: -3rem;
}
.team__title {
    font-size: 6.4rem;
    color:$c-silver;
    font-weight: bold;
    letter-spacing: -0.25rem;
    text-align: initial;
}
.team__title em {
    color: $c-yellow;
    font-style: normal; 
}
.team-card__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.9rem;
    
}
.numbers_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.9rem;
}
.numbers_element {
    width: 30rem;
}
.number {
    color: $c-yellow;
    text-align: center;

}
.numbers_text {
    font-size: 3.2rem;
    color: $c-silver;
}
.numbers_right {
    width: 29.5rem;
    height: 8rem;
    display: flex;
    gap:2rem;
    align-items: center;

a{
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4rem;
    text-decoration: none;
    color: $c-silver;
}
}

.number {
    font-size: 6.4rem;
}
@media screen and (max-width: 884px) {
    .tablet{
        width: 100%;
        align-items: center;
        margin-left: -3rem;
    }
    .team__title {
        font-size: 3.2rem;
        color:$c-silver;
        font-weight: 500;
        line-height: 4rem;
    }
    .numbers_left {
        flex-flow: row wrap;
        gap: 1rem;
        margin-left: 5rem;

    }
    .numbers_right{
        margin: 0 auto;
    }
    .numbers {
        flex-flow: row wrap;
        gap: 1rem;
        
    }
    .numbers_text {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    .number {
        font-size: 4rem;
        line-height: 4.8rem;
    }
    .numbers_right a {
        font-size: 1.6rem;
        line-height: 4rem;
    }
    .numbers_right img {
        width: 3.2rem;
        height: 3.2rem;
    }
}