.team__inner {
    @extend .container;
}
.team {
    background: linear-gradient( $c-silver 20%,$c-grey 20%);
    @include media('<tablet'){
        width: 100%;
        align-items: center;
        background: linear-gradient( $c-silver 7%,$c-grey 7%);
    }
}
.tablet{
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    padding-bottom: 7.3rem;

    @include media('<tablet'){
        width: 100%;
        align-items: center;
    }
}

.container-team__title{
max-width: 77rem;
}
.team__title {
    
    font-size: 6.4rem;
    color:$c-silver;
    font-weight: bold;
    letter-spacing: -0.25rem;
    line-height: 7.5rem;
    text-align: initial;
    @include media('<tablet'){
        font-size: 3.2rem;
        color:$c-silver;
        font-weight: 500;
        line-height: 4rem;
    }

}
.team__title em {
    color: $c-yellow;
    font-style: normal; 
}
.team__members {
    padding-top: 7.25rem ;
    padding-bottom: 7.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    @include media('<desktop'){
        justify-content: center;
    }
}

.team__member{
    @include media('<tablet'){
    margin: 1rem 1rem;
    }
}

.team__numbers {
    display: flex;
    justify-content: space-between;
    gap: 1.7rem;
    @include media('<desktop'){
        flex-flow: row wrap;
        gap: 1rem;
    }
    
}
.numbers__left {
    display: flex;
    width: 703px;
    justify-content: space-between;
    gap: 3rem;
    @include media('<desktop'){
        flex-flow: row wrap;
        gap: 1rem;
        margin-left: 5rem;
    }

}

.number {
    color: $c-yellow;

    @include media('<tablet'){
        font-size: 4rem;
        line-height: 4.8rem;
    }

}
.numbers__text {
    font-size: 3.2rem;
    color: $c-silver;
    // text-align: center;
    @include media('<tablet'){
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.numbers__element{
    max-width: 213px;
}
.numbers__right {
    width: 29.5rem;
    display: flex;
    gap:2rem;
    align-items: end;
    @include media('<tablet'){
        margin: 0 auto;
    }

a{
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4rem;
    text-decoration: none;
    color: $c-silver;
    @include media('<tablet'){
        font-size: 1.6rem;
        line-height: 4rem;
    }
}
}

.number {
    font-size: 6.4rem;
}
    .numbers__right img {
        @include media('<tablet'){
            width: 3.2rem;
        height: 3.2rem;
        }
        
    }
