@import "media-queries-var";

// Brand
$c-brand-primary:   #00d2ff;

// background
$c-bg-primary:      #100e0f;
$c-bg-secondary:    #d9d9d9;
$c-bg-quaternary:   #3a3a3a;

// fonts
$c-font-primary:    #d9d9d9;
$c-font-secondary:  #fff;
$c-font-tertiary:   #100e0f;
$c-font-quaternary: #3a3a3a;
$c-font-gray:       #727272;

$bg-footer:         #090909;

// border
$c-border:          1px solid rgba(#eae6e3, .17);

$c-yellow: #FFB84C;
$c-grey: #2B2730;
$c-silver: #f6f6f6;
$c-black: #121212;