.header__inner{
    @extend .container;
    padding: 2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    @include media('<desktop'){
    }
}

.member__container{
width: 156px
}

.breadcrumbs{
    display: none;
    @include media('<desktop'){
        display:block;
    }
}
.menu {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.9rem;
    list-style-type: none;
    @include media('<desktop'){
        display:none;
    }
    
}

  
.menu__link {
    text-decoration: none; 
    cursor: pointer;  
    color: $c-black;
}

.menu__link:hover {
    color: $c-yellow;
    transition-duration: .2s;
  }

.member__link {
    text-decoration: none;  
    color: $c-black;
    margin-top:2rem;
    @include media('<desktop'){
        display:none;
    }
}
.nav__member{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width:30rem;
    gap: 1rem;
     width:30rem;
     @include media('<desktop'){
        width: 5rem;
    }
}
.nav__btn {
background-color: $c-grey;
border-radius: 6.25rem;
font-size: 1.4rem;
color: $c-silver;
cursor: pointer;
width:11rem;
height:5rem;


@include media('<desktop'){
    display:none;
}

}
.nav__btn:hover {
    color: $c-yellow;
    transition-duration: .2s;
  }