.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.9rem;
}

.breadCrumbs{
    display: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.9rem;
    list-style-type: none;
    
}

.menu__link {
    text-decoration: none; 
    cursor: pointer;  
    color: $c-black;
}
.member {
    list-style-type: none;
    
}
.member__link {
    text-decoration: none; 
    cursor: pointer;  
    color: $c-black;
}
.memberDiv {
    margin-left: auto;
    text-decoration: none; 
    
    
}
.nav__btn {
background-color: $c-grey;
border-radius: 10rem;
font-size: 1.4rem;
color: $c-silver;
padding: 0.8rem 3rem;
cursor: pointer;

}
@media screen and (max-width: 879px) {
    .header {
      padding-right: 15px;
    }
    header.container {
     width: 32.8rem
    }
    .menu{
        display:none;
    }
    .member__link {
        display:none;
    }
    .breadCrumbs{
        display: block;
    }
    .nav__btn {
        display: none;
    }
    
  }


